body {
  background-color: #EFC3E6;}

#subheading {
  color: purple;
  font-size: 16 px;
  font-family: "Verdana", sans-serif;
}

p {
  font-family: "Georgia",monospace;
  font-size: 12 px; color: black
}

h1 {
  text-align: center;
  color: #60E1E0;
  font-family: "Julius Sans One", sans-serif;
}

.subtitle {
  color: purple;
}

.sub {
  color: purple;}
.skill {font-family: "Georgia",monospace; color: black}

.project {color: black ; font-size: 11}
.scratch {color: black; font-size: 11}
