body {
  background-color: blue ;
}

#subheading {
  color: #F0A6CA;
  font-size: 16 px;
  font-family: "Verdana", sans-serif;
}

p {
  font-family: "Georgia",monospace;
  font-size: 12 px; color: black
}

.name {
  text-align: center;
  color: #60E1E0;
  font-family: 'Acme', sans-serif;
}

.subtitle {
  color: #F0A6CA;
}

.sub {
  color: #F0A6CA;
}
.skill {
  font-family: "Georgia",monospace; color: #F05D5E ; font-weight: bold;
}

.project {
  color: black ;
  font-size: 11
}
.scratch {
  color: black;
   font-size: 11
 }
